.main-chat-contacts-wrapper {
    padding: 10px 20px;
    flex-shrink: 0;
    border-block-end: 1px solid $default-border;
    overflow: hidden;
}
.main-chat-contacts-wrapper .lSSlideOuter, .main-chat-contacts-wrapper .lSSlideWrapper {
    overflow: visible;
}
.lSSlideWrapper {
    position: relative;
}
.main-chat-contacts {
    padding-inline-start: 0px;
    display: flex;
    // flex-wrap: wrap;
    gap: 0.5rem;
}
.main-chat-contacts small {
    font-size: 11px;
    width: 36px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-block-start: 3px;
    text-align: center;
    display: block;
}
.main-chat-list {
    max-height: 587px;
    position: relative;
}
.main-chat-list .media {
    padding: 12px 20px;
    position: relative;
    border-block-end: 1px solid $default-border;
    align-items: center;
    &:hover{
        background-color: $light;
    }
}
.main-chat-list .media.new .main-img-user span {
    display: flex;
}

.main-chat-list .main-img-user span {
    position: absolute;
    top: 0;
    inset-inline-start: -2px;
    width: 14px;
    height: 14px;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    background-color: $danger;
    box-shadow: 0 0 0 2px $white;
}
.media {
    display: flex;
    align-items: flex-start;
}
.media {
    margin-block-start: 15px;
    zoom: 1;
    overflow: hidden;
}
@media (min-width: 992px) {
    .main-chat-list .media {
        padding: 12px 15px;
        margin: 0;
    }
}
.main-chat-list .media-body {
    margin-inline-start: 15px;
}

.media-body {
    flex: 1;
}
.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}
.media-body {
    zoom: 1;
    overflow: hidden;
}
.main-chat-list .media.new .media-contact-name span:first-child {
    font-weight: 700;
    color: $dark;
}
.main-chat-list .media-contact-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2px;
}
.main-chat-list .media-contact-name span:first-child {
    display: block;
    font-size: 14px;
}
.main-chat-list .media-contact-name span:last-child {
    display: block;
    font-size: 11px;
    color: $text-muted;
}
.main-chat-header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1.14rem;
    border-block-end: 1px solid $default-border;
}
.main-chat-msg-name {
    margin-inline-start: 15px;
}
.main-chat-msg-name h6 {
    margin-bottom: 2px;
    font-size: 15px;
    font-weight: 700;
    color: $dark;
}
.main-chat-header .nav {
    margin-inline-start: auto;
    align-items: center;
}
.main-chat-msg-name small {
    font-size: 12px;
    color: $text-muted;
}
.main-chat-header .nav-link {
    color: $text-muted;
    display: block;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.2rem;
    text-align: center;
    border-radius: 100%;
    font-size: 16px;
    border-radius: 50px;
    box-shadow: 0px 2px 3px rgba(4, 4, 7, 0.1);
    border: 1px solid $default-border;
    margin-inline-end: 5px;
    padding: 0;
}
.main-chat-time span {
    font-size: 10px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: $default-background;
    padding: 5px;
    border-radius: 4px;
}
.main-chat-time:first-of-type {
    margin-block-start: 0;
}

.main-chat-time {
    display: block;
    position: relative;
    text-align: center;
    margin: 20px 0;
}
.main-chat-body .content-inner {
    padding: 20px;
}
.main-chat-body .media.flex-row-reverse .media-body {
    margin-inline-start: 0;
    margin-inline-end: 5px;
    align-items: flex-end;
}
.main-chat-body {
    position: relative;
    max-height: 638px;
}
.main-chat-body .media-body {
    margin-inline-start: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.main-chat-body .media.flex-row-reverse .main-msg-wrapper:first-child {
    border-start-start-radius: 5px;
    border-start-end-radius: 0px;
    border-end-start-radius: 5px;
    border-end-end-radius: 5px;
}

.main-chat-body .media.flex-row-reverse .main-msg-wrapper {
    margin-inline-end: 15px;
    border-radius: 5px;
    background-color: $primary;
    color: $white;
}
.main-msg-wrapper {
    padding: 10px 15px;
    background-color: $primary-01;
    font-size: 13px;
    margin-bottom: 5px;
    border-radius: 0px;
    display: inline-block;
    position: relative;
    margin-inline-start: 10px;
    border-radius: 5px;
}
.main-chat-body .media.flex-row-reverse .media-body>div span {
    margin-inline-end: 15px;
    margin-inline-start: 0;
}

.main-chat-body .media .media-body>div span {
    margin-inline-start: 15px;
    margin-inline-end: 0;
}
.main-chat-body .media-body>div span {
    font-size: 11px;
    color: $text-muted;
    display: flex;
    align-items: center;
}

.main-chat-footer {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    border-block-start: 1px solid $default-border;
    background-color: $custom-white;
    bottom: 0;
    inset-inline-start: 0;
    inset-inline-end: 0;
    border-radius: 0 0 5px 5px;
}

@media (min-width: 992px) {
    .main-chat-footer {
        position: relative;
        bottom: auto;
        inset-inline-start: auto;
        inset-inline-end: auto;
    }
}
.main-chat-footer .nav-link {
    font-size: 20px;
    width: 2.3rem;
    height: 2.3rem;
    line-height: 2.6rem;
    text-align: center;
    border-radius: 100%;
    border-radius: 50px;
    box-shadow: 0px 2px 3px rgba(4, 4, 7, 0.1);
    border: 1px solid $default-border;
    vertical-align: middle;
    padding: 0;
    color: $text-muted;
}

@media (min-width: 576px) {
    .main-chat-footer .nav-link {
        display: block;
    }
} 
@media (min-width: 768px) {
    .main-chat-footer .form-control {
        margin: 0 20px;
    }
}

.main-chat-footer .form-control {
    flex: 1;
    margin: 0 10px;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border-width: 0;
}
@media (min-width: 576px) {
    .main-chat-footer .form-control {
        margin-inline-start: 20px;
    }
}
.main-msg-send {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
    text-align: center;
    border-radius: 100%;
    font-size: 18px;
    border-radius: 50px;
    box-shadow: 0px 2px 3px rgba(4, 4, 7, 0.1);
    border: 1px solid $default-border;
    vertical-align: middle;
    padding: 0;
    color: $text-muted;
    margin-block-start: 3px;
}

.main-chat-footer .nav-link:last-child {
    display: block;
}

.main-chat-footer .nav-link+.nav-link {
    margin-inline-start: 5px;
}
.new-list2.option-dots {
    height: 40px;
    width: 40px;
    background: 0 0;
    color: $text-muted;
    box-shadow: 0px 2px 3px rgba(4, 4, 7, 0.1);
    border: 1px solid $default-border;
    border-radius: 50px;
    font-size: 18px;
    line-height: initial;
    margin-inline-end: 8px;
    padding: 10px;
}
.new-list2.option-dots:hover {
    background: $default-background;
}

.chat .action-header {
    position: relative;
    padding: 15px 17px;
    border-block-end: 1px solid $default-border;
    background: $primary;
}
.dot-label {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    margin-inline-end: 5px;
}
.modal-content .actions>li>a {
    box-shadow: 0px 2px 3px rgba(16, 16, 38, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.modal-content .actions>li>a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    line-height: 40px;
    text-align: center;
    color: #fff;
}
.actions>li>a {
    font-size: 18px;
    margin-inline-end: 5px;
}
.chat abbr.timestamp {
    padding: 4px 14px;
    border-radius: 4px;
    background: $default-background;
}
.chat .justify-content-start, .chat .justify-content-end {
    margin-bottom: 25px;
}
.chatbox .img_cont_msg {
    height: 40px;
    width: 40px;
    display: contents;
}
.chat .msg_cotainer {
    margin-block-start: auto;
    margin-bottom: auto;
    margin-inline-start: 10px;
    background-color: $default-background;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    max-width: 70%;
    margin-block-start: 5px;
}
.chat .msg_cotainer:before {
    content: "";
    position: absolute;
    top: 9px;
    border-block-end: 10px solid $default-background;
    border-inline-start: 10px solid transparent;
    border-inline-end: 10px solid transparent;
    inset-inline-end: auto;
    inset-inline-start: -15px;
    transform: rotate(-90deg);
    display: block;
}
.chat .msg_time {
    position: absolute;
    inset-inline-start: 0;
    bottom: -18px;
    color: $text-muted;
    font-size: 10px;
}
.chat .msg_cotainer_send {
    margin-block-start: auto;
    margin-bottom: auto;
    margin-inline-end: 10px;
    padding: 10px;
    position: relative;
    color: #fff;
    border-radius: 5px;
    max-width: 70%;
    margin-block-start: 0px;
    margin-inline-end: 12px;
    margin-block-end: 10px;
    margin-inline-start: 0px;
    background-color: $primary;
}
.chat .msg_time_send {
    position: absolute;
    inset-inline-end: 0;
    bottom: -18px;
    color: $text-muted;
    font-size: 10px;
}
.chat .msg_cotainer_send:after {
    content: "";
    position: absolute;
    top: 9px;
    border-inline-start: 10px solid transparent;
    border-inline-end: 10px solid transparent;
    inset-inline-start: auto;
    inset-inline-end: -15px;
    transform: rotate(90deg);
    display: block;
}
.chatbox .img_cont_msg {
    height: 40px;
    width: 40px;
    display: contents;
}
.chatbox .user_img_msg {
    height: 40px;
    width: 40px;
    border: 1.5px solid $default-border;
}

.actions {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-block-start: 4px;
}

.ah-actions {
    z-index: 3;
    margin-block-start: 7px;
    position: relative;
}

.chat .actions:not(.a-alt)>li>a>i {
    color: $white;
    line-height: unset;
}

.chat .actions>li {
    display: inline-block;
    padding: 0 2px 0 2px;
}

.chat-box-single-line {
    margin: 7px 0 30px;
    position: relative;
    text-align: center;
}
.modal-content.chat .card {
    border-radius: 3px;
    box-shadow: none;
}

.chat .card {
    height: 600px;
}
.msg_card_body {
    overflow-y: auto;
}

.chat .dropdown-menu li {
    padding: 7px;
}

.chat .dropdown-menu li i {
    padding: 7px;
}